.pres-list
{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.pres-open-button
{
  margin-left: auto;
}

mat-list-item
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-name,.p-det{
  display: block;
}

.p-det
{
  margin-left: auto;
  color: #9A9A9A;
}

mat-list-item{
  height: 300px;
}
